* { padding: 0; margin: 0; }
li { list-style: none; }
img { border: 0; }
body{
	font-family: '微软雅黑';
}

/*modal*/
.modal-content{
	text-align: center;
}
.modal-footer{
	text-align: center;
}
#wangA{
	color: #333;

}
#winxinLoad{
	text-align: center;
}
#winxinLoad img{
	margin: 0 auto;
}
#loadPositive{
	margin: 10px 0;
}
#yincang{
	margin: 10px 0;
}
#teshu{
	margin: 0 0 0 10px;
}
#load-nav{
	background-color: #30302f;
}
/******/
header{
	/*background-color: #fffc00;/*#de701b*/
	padding:15px 30px;
	background: -webkit-linear-gradient(#FF6600, #FF9933,#FF6600); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FF6600, #FF9933,#FF6600);  /*Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FF6600, #FF9933,#FF6600); /* Firefox 3.6 - 15 */
    background: linear-gradient(#D56A00, #FF9933,#D56A00);  /*标准的语法（必须放在最后） */	
}

header h2{
	margin: 0;
}

#Hnav{
	
  border: none;
  color:#fff;
	margin-bottom: 0px;
}
.navbar-inverse{
	background-color: none;
}
#Hh2{
	color: #fff;
}
#Dropul{
	float: right;
	padding-top: 5px;
}
#Dropul li{
	padding:0 10px;
}
#brandA{
	/*font-size: 30px;*/
	padding:15px 0 0 0;
	color: #fff;
}

#Nhead{
	text-align: center;
}
#Nhead p{
	text-indent: 20px;

}
#Nhead a{
	font-family: STXingkai;
	font-size: 3em;
	text-shadow:2px 2px 10px #fff;
}
#brandA{
	height:45px;
}

/*header end*/

/*carousel start*/
.carousel-title{
	top:25%;
	border:1px solid #fff;
	/*height: 90px;*/
	font-size: 30px;
	padding-bottom: 20px;
}
.carousel-brief{
	top:45%;
	padding:10px 20px;
	height: 50px; 

}
/*carousel end*/

/*ativity start*/
#ativity h4{
	text-align: center;
	padding: 20px 0;
	letter-spacing: 3px;
}
#ativity .img-box{
	position: relative;
}
#ativity .img-bg{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0px;
	/*background-color: #b4b6c1;*/
 	background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(250,250,250,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top, rgba(0,0,0,1), rgba(250,250,250,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(250,250,250,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(250,250,250,0)); 
	/*opacity: 0.5;*/

}
#ativity .img-txt{
	position: absolute;
	bottom:5px;
	color: #fff;
}
#ativity .txt-left{
	float: left;
	padding-left: 20px;
}
#ativity .txt-right{
	float: right;
	padding-right: 20px;
}
/*#ativity .img-txt span{
	padding: 0 20px;
}*/
#ativity .btn{
	display: block;
	margin: 5px auto 0;
}

/*ativity end*/
/*product start*/
#product h4{
	text-align: center;
	padding:0px 0 20px 0;

}
#product .img-responsive{
	border-radius: 50%;
}
#product p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
#product a:hover img {
   	box-shadow: 0 0 10px 8px #F6AB4E;;
	transition: 0.5S;
}
#product .container a{
	color: #333333;
	}
#product .btn{
	display: block;
	margin: 5px auto 0;
}
/*product end*/
/*footer start*/
footer{
	text-align: center;
	background:#D56A00 ;
	color: #fff;	
}
footer p a{
	color: #fff;
	border-right: 1px solid #151515;
	padding-right: 15px;
	padding-left: 10px;
	
	
}
footer .a-right{
	border: none;
}
#toTop {
    background: rgba(0, 0, 0, 0) url("../images/top-arrow.png") no-repeat scroll 0 0;
    border: medium none;
    bottom: 10px;
    display: none;
    height: 28px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: 100%;
    width: 45px;
}
/*footer end*/

/*ativity-info start*/
#ativity-info h5 a{
	color: #989694;
}
#ativity-info .row-box{
	border: 1px solid #ccc;
	padding-bottom: 20px;
}
#ativity-info .row h3{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
#ativity-info .row p time{
	color: #989694;
}
#ativity-info .row p span{
	color: #989694;
}
/*ativity-info end*/

/*ativity-tab start*/
#myTab{
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
	border: none;
}
#myTab li{
	margin: 5px 10px 0;
	border: none;
}
#myTab li a{
	color: #333;
}
#myTab li a:hover{
	color: #de701b;
}
#myTab li a:focus{
	color: #de701b;
	border-top:2px solid #de701b;
}

#ativity-tab #myTabContent{
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#ativity-tab{
	margin-top: 10px;
	margin-bottom: 10px;
}
#ati-info p{
	padding-left: 30px;
	color: #6b6866;
}
#ati-comment textarea{
	resize:none;

}
.commentLi{
	margin: 20px 10px 20px 0;
	border-bottom: 1px dotted #ccc;
}
/*ativity-tab end*/

/*product start*/
.pro-row{
	padding-top: 20px;
}
#pro-small-img{
	margin-top: 5px;
}
#pro-small-img img{
	cursor: pointer;
}
#pro-small-img img:hover{
	border: 2px solid #fd9f0a;
}
#input-num{
	width: 50px;
}
#price{
	color: #fa144f;
}
#you{
	background-color: #fea210;
	color: #fff;
	margin-left: 10px;
	padding:2px;
}
#comment-num{
	color: #fea210;
}
#pro-list{
	padding: 10px 40px;
	margin-left: 0;
	margin-right: 0;
}
#pro-box{
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#btn-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 30px;
}
/*product end*/

/*person start*/
/*person-info*/
#person-info{
	position: relative;
	padding: 30px 0;
}
#person-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background-image: url(../images/personbg.jpg);
	opacity: 0.7;
}
#person-info .per-img{
	border-radius: 50%;
}
#person-info .per-txt{
	padding-top: 80px;
}
#person-info p{
	color:#000;
	text-align: center;
}
#person-info p span{
	padding: 0 10px;
}
#per-name{
	color:#de701b;
	font-size: 18px;
}
#welcome{
	font-style: italic;
}
.info-item{
	border-right: 1px solid #fff;
}
#per-now{
	font-size: 30px;
}
#per-now span{
	color:#de701b; 
}
#row-positive{
	position: relative;
}
#care{
	position: absolute;
	top:3%;
	right: 120px;
}
#care:hover{
	color: #de701b;
	text-decoration: none;
}
#mylist:hover{
	color: #de701b;
	text-decoration: none;
}
#mylist{
	position: absolute;
	top:3%;
	right: 30px;
}
#donate{
	font-size: 14px;
}
#donate:hover{
	color:#de701b;
	text-decoration: none;
}

/*person-int*/
#person-int h4{
	background-color:#ccc;
	padding: 8px 0;
	text-indent: 10px;
	border-radius: 2px;
	margin: 2px 0;
}
#person-int hr{
	margin: 10px 0;
}
.care-per{
	border-radius: 50%;
}
#rank{
	color:#de701b;
}
.rank-img{
	width: 10%;
	border-radius: 50%;
	
}
.rank-name{	
	position: absolute;
	top:35%;
	left:50px;
}
.badge{
	position: absolute;
	top: 35%;
	right: 20px;
}
.list-group-item{
	position: relative;
}
.rank-num{
	position: absolute;
	top: 35%;
	right: 55px;
	color:#039f03;
	font-weight: bold;
}
#care-a{
	color: #abaaaa;
}
#care-a:hover{
	color: #147af9;
}
/*person end*/
