.swiper{
  height: 212px;
}

.nav {
  padding: 10px 0;

  .am-flexbox-item {
    text-align: center;
  }

  img {
    width: 48px;
  }

  h2 {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
  }
}
