.bread_nav {
    background: #f3f3f3;
    height: 40px;
}
.bread_nav .inner {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;

    .home {
        width: 30px;
        margin: auto;
      }
}

.sub_con {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;
}

.sub_l {

    width: 90%;
    padding: 5% 5%;
    background: #fff;
    margin: 0 auto;
}

.sub_l .sub_tt {
    font-size: 24px;
    text-align: center;
    color: #707070;
}

.sub_l .time {
    text-align: center;
    color: #aaa;
    padding: 10px 0 20px;
    border-bottom: 1px dashed #ccc;
}

.sub_l .sub_txt {
    padding-top: 20px;
    padding-bottom: 40px;
    line-height: 26px;
    color: #707070;
    overflow: hidden;
}
