h3 {
    font-size: 25px;
    width: 100%;
    border-bottom: 1px solid #dfe0e0;
    margin: 0;
    line-height: 50px;
    img {
        width: 1rem;
        vertical-align: middle;
        margin: 0 8rem 0 1rem;
    }
}
.button_box{
    margin: 2rem 0 1rem 0;
}

.adm-button-block {
    display: block;
    margin: 0  auto;
    width: 80%;
}

.register{
    color: #99CCFF;
    text-align: right;
    margin: 0 3rem 0 0;
}